#auth h1 {
    margin-bottom: 8px;
}

.login-form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#auth input {
    width: 100%;
}

#auth button {
    /* margin-top: 12px; */
}